.about-section,
.features-section,
.team-section {
    text-align: left;
    padding: 40px 20px;
    background-color: #ffffff;
    max-width: 900px;
    margin: 50px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    border-radius: 15px; 
}

.about-section h1,
.features-section h2,
.team-section h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 25px; 
    color: #28a745;
    margin-bottom: 20px;
    letter-spacing: 0.5px; 
    text-align: left;
    margin-left: 60px;
    font-weight: 700;
}

.about-content p,
.features-list li {
    font-size: 16px; 
    color: #555;
    margin-bottom: 15px; 
    line-height: 1.6; 
    padding: 0 15px; 
    margin-left: 45px;
}

.features-list {
    list-style-type: none;
    padding: 0;
}

.features-list li {
    margin-bottom: 10px; 
    position: relative; 
}

.features-list li:before {
    content: '✔'; 
    color: #28a745; 
    position: absolute;
    left: -5px; 
    font-size: 1.2rem; 
}

#back-home {
    padding: 10px 20px; 
    background-color: #28a745; 
    color: white;
    font-size: 0.9rem; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 205px; 
    margin-bottom: 100px; 
    transition: background-color 0.3s, transform 0.3s; 
}

#back-home:hover {
    background-color: #218838; 
    transform: translateY(-2px); 
}

.team-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px; 
    flex-wrap: wrap; 
}

.team-member {
    text-align: center;
    width: 30%;
    margin-bottom: 30px; 
    transition: transform 0.3s;
}

.team-member:hover {
    transform: scale(1.05); 
}

.team-member img {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2); 
}

.team-member h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem; 
    color: #333;
    margin-top: 10px; 
}

.team-member p {
    font-size: 0.9rem; 
    color: #777;
    margin-top: 5px; 
}

@media (max-width: 768px) {
    .about-section,
    .features-section,
    .team-section {
        padding: 30px 10px;
    }

    .about-section h1,
    .features-section h2,
    .team-section h2 {
        font-size: 18px; 
        margin-left: 55px;
        
    }

    .about-content p,
    .features-list li {
        font-size: 13px; 
        margin-left: 35px;
    }

    #back-home {
        margin-left: 0; 
        width: 25%; 
        margin-bottom: 30px; 
        text-align: center; 
        font-size: 12px;
    }

    .team-member {
        width: 18%; 
        margin-bottom: 20px; 
        font-size: 10px;
    }
}

@media (max-width: 390px) {
    .about-section,
    .features-section,
    .team-section {
        margin-top: 0;
        padding: 10px 19px;
    }

    .about-section h1,
    .features-section h2,
    .team-section h2 {
        font-size: 14px; 
        margin-left: 30px;
    }

    .about-content p,
    .features-list li {
        font-size: 12px; 
        margin-left: 10px;
    }

    #back-home {
        width: 140px;
        text-align: left;
        font-size: 11px; 
        padding: 12px 10px; 
        margin-bottom: 20px; 
    }

    .team-member {
        width: 27%; 
        margin: 0 auto 20px; 
    }

    .team-member h3 {
        font-size: 13px; 
    }

    .team-member p {
        font-size: 9px; 
    }
}
