* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: left;
  color: #333;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.intro-content {
  background-color: #ffffff; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  padding: 50px; 
  margin: 20px auto; 
  max-width: 1100px; 
  height: auto; 
}

.intro-content p {
  font-size: 16px; 
  line-height: 1.6; 
  margin-bottom: 15px;
  color: #555; 
  max-width: 1100px;
}

form {
  max-width: 550px;
  margin: 0 auto;
  background: rgb(228, 244, 227);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 8px;
  margin-top: 40px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
  margin-left: 20px; 
}

form input,
form textarea,
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

form button {
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

.success-message {
  background-color: #d4edda;
  color: #155724; 
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  display: none; 
}

.error-message {
  background-color: #f8d7da; 
  color: #721c24; 
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  display: none; 
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
    margin-left: 20px;
  }

  .intro-content {
    padding: 30px;
  }

  .intro-content p {
    font-size: 13px;
  }

  form {
    max-width: 65%;
    font-size: 13px;
  }

  form button {
    font-size: 13px;
  }
}

@media (max-width: 390px) {
  h1 {
    font-size: 20px;
    margin-left: 10px;
  }

  .intro-content {
    padding: 20px;
  }

  .intro-content p {
    font-size: 12px;
  }

  form {
    max-width: 100%;
  }

  form button {
    font-size: 12px;
  }
}
