* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Header Styles */
h1 {
  text-align: center;
  color: #333;
}

/* Form Styles */
form {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

form input,
form textarea,
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}
